@using Microsoft.AspNetCore.Http
@model IEnumerable<PasswordWalletMVC.Models.UserAccount>

@{
    ViewBag.Title = "LoggedIn";
 //  @if (HttpContext.Session.GetString("UserId") != null)
 //{
 //   <h4>Hello @HttpContext.Session.GetString("UserName")</h4>
 //}
 }
 





